utilities-terminal,terminal,Terminal
applications-painting,draw,Draw!
julia,julia,Julia Fractals
folder,file_browser.py,Documents
package,gsudo package_manager.py,Packages
