utilities-terminal,terminal,Terminal
folder,file_browser.py,Documents
package,gsudo package_manager.py,Packages
applications-painting,painting.py,Painting
julia,julia,Julia Fractals
